.btn {
    font-size: 14px;
    cursor: pointer;
    color: white;
    transition: .5s ease;
    border-radius: 8px;

    /* default */
    background-color: var(--box);
    border: 1px solid var(--border);
    padding: 6px 12px;
}

.btn.btnSm {
    padding: 6px 12px;
}

.btn.btnMd {
    padding: 10px 30px;
}

.btn.btnLg {
    padding: 14px 50px;
}

.btnPrimary {
    background-color: var(--box);
    border: 1px solid var(--border);
}

.btnSecondary {
    background-color: rgba(255, 255, 255, 0.103);
    border: 1px solid var(--border);
    color: var(--text-muted);
}

.btnTertiary {
    background-color: transparent;
    border: var(--border) 1px solid;
    color: var(--text-muted);
}

.btnRounded {
    border-radius: 500px;
}

.alert {
    padding: 15px;
    border-radius: 10px;
    transition: .5s ease;

    /* default */
    background-color: #c32e2e4f;
    border: 1px solid #c32e2e;
}

.alertDanger {
    background-color: #c32e2e4f;
    border: 1px solid #c32e2e;
}

.alertSuccess {
    background-color: #2ec34f4f;
    border: 1px solid #2ec34f;
}

.alertInfo {
    background-color: #2e9ec34f;
    border: 1px solid #2e9ec3;
}

.alertWarning {
    background-color: #c3b52e4f;
    border: 1px solid #c3b52e;
}