.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: var(--box);
    border: 1px solid var(--border);
    margin: 20px auto;
    border-radius: 200px;
    width: 50%;
}

.nav .logo {
    font-size: 1.15rem;
    font-weight: 500;
    font-family: var(--font-dm-mono);
    color: var(--foreground);
}

.nav .menu {
    display: flex;
    gap: 25px;
}

.nav .menu li {
    list-style: none;
}

.nav .menu li a {
    color: var(--text-muted);
    font-weight: 500;
}

.nav .menu li a:hover {
    color: var(--foreground);
}

.nav .menu li a.primary {
    border: 1px solid var(--border);
    background-color: hsl(0, 0, 15%);
    padding: 5px 10px;
    border-radius: 100px;
}